body {
  background-color: #444;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
  border-radius: 24px;
  height: 300px;
  margin: 10px;
}

.backgroundimg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

#back1 {
  background: url("./assets/jamesbaldwin.jpg") no-repeat center fixed;
}

#back2 {
  background: url("./assets/image.png") no-repeat center fixed;
}

#back3 {
  background: url("./assets/image2.png") no-repeat center fixed;
}

@keyframes backgroundchangeFadeInOut {
  /* 0% {
    opacity: 1;
  }

  33% {
    opacity: 0;
  }

  66% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  } */
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* @-webkit-keyframes backgroundchangeFadeInOut {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
#backgroundchange div:nth-of-type(1) {
  animation-delay: 4s;
  -webkit-animation-delay: 4s;
}
#backgroundchange div:nth-of-type(2) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
#backgroundchange div:nth-of-type(3) {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
/* #backgroundchange div:nth-of-type(4) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}

#backgroundchange div:nth-of-type(5) {
  animation-delay: 0;
  -webkit-animation-delay: 0;
} */
#backgroundchange div {
  animation-name: backgroundchangeFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-duration: 6s;

  -webkit-animation-name: backgroundchangeFadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-duration: 6s;
}
.fa-arrow-right {
  color: #fff;
  font-size: 72px !important;
  cursor: pointer;
}

.btn-container {
  width: 764px;
  padding: 60px 0;
  font-family: "Staatliches";
  font-size: 90px;
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: 1fr 1fr;
}

.book-container {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

._28vIk {
  margin: 20px;
}
