body {
  background-color: #273440;

}

.container {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10%;
}

img {
  border-radius: 24px;
  height: 300px;
  margin: 10px;
}
